body {
  max-width: 1280px;
  margin: 0 auto;
}

.header-menu {
  display: flex;
  margin: 25px auto;
  width: 45%;
  flex-wrap: wrap;
  justify-content: space-between;
  text-transform: uppercase;
  font-family: "Montserrat";
  font-style: normal;
  font-weight: 700;
  font-size: 18px;
  letter-spacing: 2.7px;
  color: #ff0000;
}

.menu-link:hover {
  color: orange;
}

.main-pic {
  width: 100%;
}

.menu-link {
  text-decoration: none;
  color: #ff0000;
}

.caption {
  margin: 48px 0 10px 0;
  font-family: "Montserrat";
  font-style: normal;
  font-weight: 700;
  font-size: 22px;
  line-height: 27px;
  letter-spacing: 3.3px;
  text-align: center;
  text-transform: uppercase;
  color: #373737;
}

.text {
  margin: 28px 68px;
  font-family: "Montserrat";
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 26px;
  text-align: center;
  letter-spacing: 2.4px;
  color: #373737;
}

.btn {
  margin: 66px auto;
  padding: 18px 43px;
  display: block;
  border-radius: 4px;
  background-color: #ff0000;
  border: none;
  font-family: "Montserrat";
  font-style: normal;
  font-weight: 700;
  font-size: 12px;
  letter-spacing: 1.8px;
  text-transform: uppercase;
  color: #ffffff;
  cursor: pointer;
}

.btn:hover {
  background: orange;
  color: black;
}

.footer {
  display: flex;
  justify-content: flex-end;
  margin-right: 105px;
  margin-bottom: 29px;
  font-family: "Montserrat";
  font-style: normal;
  font-weight: 700;
  font-size: 12px;
  letter-spacing: 1.8px;
  text-transform: uppercase;
  color: #373737;
}
